* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Nunito", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#site-name {
  display: inline-block;
  color: #ff385c;
  position: relative;
  top: -17px;
}

#site-name a {
  text-decoration: none;
  color: #ff385c;
}

#site-name i {
  font-size: 36px;
}

#airbnb-i {
  position: relative;
  font-size: 24px;
}

#airbnb {
  position: relative;
  font-size: 24px;
  top: -6px;
  letter-spacing: -1.3px;
}

.container {
  overflow: hidden;
  background: white;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  padding: 40px 310px;
  padding-bottom: 3px;
  word-spacing: -2px;
  border-bottom: 2px solid #e0e0e0;
}

.menu {
  display: inline-block;
  position: relative;
  top: -11px;
}

.menu a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  height: 50px;
  border-radius: 22px;
}
.menu b {
  padding: 12px 15px;
}

.menu b:hover {
  border-radius: 22px;
  background: #f7f7f7;
}

.menu span {
  padding: 12px 14px;
  text-align: center;
  position: relative;
  left: 27px;
}

.menu span:hover {
  border-radius: 22px;
  background: #f7f7f7;
}

#log-in {
  position: relative;
  right: 5px;
}

#helptxt {
  position: relative;
  left: 3px;
}

#exp {
  position: relative;
  left: 12px;
}
#room {
  position: relative;
  left: 20px;
}

.menu .fa-globe {
  font-size: 16px;
  position: relative;
  left: -3px;
}

.menu .fa-chevron-down {
  font-size: 5px;
  position: relative;
  top: -2px;
}

#join {
  border-bottom: 1.5px solid #e0e0e0;
  border-radius: 1.5em;
  padding: 11px 17px;
  position: relative;
  left: -2px;
  box-shadow: 0px 0px 1px 1px #e0e0e0;
}

#join:hover {
  box-shadow: 0px 0px 7px 1px #dfdddd;
  background: white;
}

.introduce {
  display: grid;
  grid-template-columns: 600px 620px;
  grid-template-rows: 630px;
  column-gap: 60px;
  margin-left: 310px;
  padding-bottom: 80px;
  margin-top: 85px;
}

.int-text {
  margin-top: 110px;
}

.int-text h1 {
  font-size: 47px;
  padding-bottom: 20px;
  word-spacing: -5px;
}

.int-text p {
  font-size: 17px;
  padding-bottom: 80px;
}

.int-text a {
  font-size: 18px;
  color: black;
  border: 1px solid #d8d7d7;
  padding: 30px 30px 35px 30px;
  border-radius: 8px;
  margin-left: 10px;
  word-spacing: -2px;
}

.int-img {
  background: url(img/introduce.jpg) no-repeat center center/cover;
  width: 100%;
  margin-top: 60px;
  height: auto;
  border-radius: 15px;
}

#room-sp {
  background: #f7f8f9;
}

.room-main {
  text-align: center;
  font-size: 18px;
  padding-top: 60px;
}

.room-main h1 {
  font-size: 48px;
  color: #222222;
}

.room-main p {
  width: 1220px;
  margin-left: 350px;
  padding-top: 15px;
  padding-bottom: 45px;
}

/* 두번째 그리드 */

#grid {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  margin-bottom: 10px;
}

.matter {
  margin-left: 220px;
  width: 720px;
  font-size: 18px;
}

.matter h1 {
  font-size: 26px;
}
.matter h4 {
  padding-bottom: 10px;
}

.matter1,
.matter2,
.matter3 {
  margin: 20px 0;
}
.matter i {
  padding-right: 15px;
  font-size: 20px;
}

.matter1 a {
  color: #222222;
}
.matter p {
  padding-left: 35px;
}

.sp-button {
  background: white;
  margin-right: 220px;
  padding-left: 33px;
  padding-top: 30px;
  padding-right: 60px;
  width: 400px;
  font-size: 18px;
  height: 270px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 1px 2px 5px 6px #e7e7e7;
}

.sp-button b {
  font-size: 22px;
  word-spacing: -5px;
}

.sp-button p {
  width: 300px;
  margin-bottom: 15px;
}

#button {
  display: inline-block;
  background: #222222;
  color: white;
  width: 150px;
  font-size: 16px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 8px;
}

#button a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

/* 세번째 그리드 */

#donation {
  background: #f7f8f9;
}

.donate-join {
  text-align: center;
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.donate-join h1 {
  font-size: 48px;
  color: #222222;
}

.donate-join p {
  width: 1220px;
  margin-left: 350px;
  padding-top: 15px;
  word-spacing: -2px;
}

.grid2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
  margin-bottom: 10px;
}

.donate {
  margin-left: 220px;
  width: 720px;
  font-size: 18px;
}

.donate h1 {
  margin-bottom: 10px;
}

.txt1 {
  display: flex;
  width: 700px;
  margin: 20px 0;
}

.donat-txt i {
  padding-right: 15px;
  font-size: 20px;
}

.dn-button {
  background: white;
  margin-right: 220px;
  padding-left: 33px;
  padding-top: 30px;
  padding-right: 60px;
  width: 400px;
  font-size: 18px;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 1px 2px 5px 6px #e7e7e7;
}

.dn-button b {
  font-size: 22px;
  word-spacing: -5px;
}

#button2 {
  display: inline-block;
  background: #222222;
  color: white;
  width: 170px;
  font-size: 16px;
  text-align: center;
  padding: 14px 20px;
  border-radius: 8px;
  margin-top: 20px;
}

#button2 a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.partner-txt {
  text-align: center;
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.partner-txt h1 {
  font-size: 48px;
  color: #222222;
}

.partner-txt p {
  width: 1220px;
  margin-left: 350px;
  padding-top: 15px;
  word-spacing: -2px;
}

.partner-name span {
  border: 1px solid #e7e7e7;
  padding: 25px 210px 25px 25px;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 18px;
}

.partner-name {
  margin-left: 410px;
  margin-bottom: 105px;
}

#cross {
  padding-right: 180px;
}

#volunteer {
  padding-right: 180px;
}

/* 마지막 내용 */

.part1 {
  background: white;
  display: flex;
  padding-left: 290px;
  color: #222222;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.part1 h1 {
  font-size: 26px;
  padding-bottom: 15px;
}

.part1 p {
  padding-bottom: 15px;
}

.part1 a {
  color: black;
}

.txt-fix {
  padding-left: 10px;
}

.letter {
  width: 590px;
}

.book {
  width: 600px;
  margin-left: 100px;
  word-spacing: -3px;
}

.book img {
  position: relative;
  left: -20px;
}

.part2 {
  display: flex;
  padding-left: 290px;
  color: #222222;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.part2 h1 {
  font-size: 26px;
  padding-bottom: 15px;
}

.part2 p {
  padding-bottom: 15px;
}

.part2 a {
  color: black;
}

.txt-fix {
  padding-left: 10px;
}

.answer {
  width: 630px;
}

.center {
  width: 600px;
  margin-left: 60px;
  word-spacing: -3px;
}

/* 풋터부분입니다 */

.foot {
  padding-left: 150px;
  padding-right: 170px;
  border-top: 1px solid #e0e0e0;
  padding-top: 40px;
}

.foot a:hover {
  text-decoration: underline;
  color: black;
}

.foot-1 {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-bottom: 24px;
}

.foot-1 b {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
}

.foot-1 a {
  color: black;
  text-decoration: none;
}

.foot-1 p {
  font-size: 14px;
  margin-bottom: 18px;
}

.int {
  padding-right: 210px;
}

.comunity {
  padding-right: 160px;
}

.hosting {
  padding-right: 200px;
}

.foot2 {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: space-between;
  font-size: 14px;
  padding-bottom: 25px;
}

.foot2-text1 a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.foot2-text1 a:hover {
  text-decoration: underline;
}

.foot2-text2 img {
  width: 20px;
}

.korean {
  margin-right: 20px;
}

.korean a {
  color: black;
}

.money {
  margin-right: 30px;
}

.money a {
  color: black;
}
.foot2-text2 .fas {
  position: relative;
  left: -8px;
}

.imgs span {
  padding-left: 20px;
  font-size: 18px;
  color: black;
}

.fa-instagram {
  font-size: 20px;
}

.foot2-text2 {
  position: relative;
  top: -8px;
}

join-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.733);
}

.join-window {
  width: 568px;
  height: 368px;
  padding: 32px;
  background-color: white;
  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 3;
}

.join-popup .form {
  width: 500px;
  height: 50px;
  padding: 10px 22px;
  border-radius: 4px;
  margin-bottom: 7px;
}

.join-popup .fbook-login {
  background-color: #4568b2;
  color: white;
  text-align: center;
  cursor: pointer;
}

.join-popup .google-login {
  background-color: white;
  color: #222222;
  text-align: center;
  border: 2px solid #888888;
  cursor: pointer;
}

.join-popup .email-login {
  background-color: #ff5a5f;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-right: 50px;
  margin-top: 55px;
}

.email-login i {
  position: relative;
  right: 8px;
  top: 3px;
}

.email-login b {
  position: relative;
  top: 3px;
  left: 6px;
}

.log img {
  width: 30px;
  position: relative;
  right: 5px;
  bottom: 5px;
}

.google-login {
  margin-bottom: 20px;
}

.google-login b {
  position: relative;
  bottom: 14px;
}

.log .fa-facebook-f {
  font-size: 18px;
  margin-left: 15px;
  position: relative;
  left: -15px;
  top: 2px;
}

.fa-facebook-f {
  margin-top: 4px;
  font-size: 16px;
}

.join-popup .close-button > button {
  background-color: white;
  border-width: 0px;
  margin-top: -20px;
  margin-bottom: 10px;
  color: #4d4d4d;
  box-shadow: 0px 0px 4px 2px rgb(216, 216, 216);
  cursor: pointer;
  padding: 5px 11px;
  border-radius: 100%;
  font-size: 25px;
  padding-bottom: 2px;
}

.join-popup .line-combo {
  text-align: center;
  margin: 15px 0;
  color: #8d8c8c;
  font-size: 14px;
  margin-top: 20px;
}

.join-popup .line-combo > span {
  font-weight: 800;
  margin-bottom: 15px;
}

.join-popup .line-left {
  width: 220px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  top: 12px;
  right: 20px;
}

.join-popup .line-right {
  width: 225px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  left: 250px;
  bottom: 8px;
}

.join-popup .line-left2 {
  width: 500px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  top: 12px;
}

.login-last {
  margin-top: 30px;
  font-size: 16px;
}

.login-last a {
  color: #008489;
  text-decoration: none;
}

/* 회원가입창 스타일 */

.join-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.733);
}

.join-window {
  width: 568px;
  height: 368px;
  padding: 32px;
  background-color: white;
  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 3;
}

.join-popup .form {
  width: 500px;
  height: 50px;
  padding: 10px 22px;
  border-radius: 4px;
  margin-bottom: 7px;
}

.join-popup .fbook-login {
  background-color: #4568b2;
  color: white;
  text-align: center;
  cursor: pointer;
}

.join-popup .google-login {
  background-color: white;
  color: #222222;
  text-align: center;
  border: 2px solid #888888;
  cursor: pointer;
}

.join-popup .email-login {
  background-color: #ff5a5f;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-right: 50px;
  margin-top: 55px;
}

.email-login i {
  position: relative;
  right: 8px;
  top: 3px;
}

.email-login b {
  position: relative;
  top: 3px;
  left: 6px;
}

.log img {
  width: 30px;
  position: relative;
  right: 5px;
  bottom: 5px;
}

.google-login {
  margin-bottom: 20px;
}

.google-login b {
  position: relative;
  bottom: 14px;
}

.log .fa-facebook-f {
  font-size: 18px;
  margin-left: 15px;
  position: relative;
  left: -15px;
  top: 2px;
}

.fa-facebook-f {
  margin-top: 4px;
  font-size: 16px;
}

.join-popup .close-button > button {
  background-color: white;
  border-width: 0px;
  margin-top: -20px;
  margin-bottom: 10px;
  color: #bebebe;
  box-shadow: 0px 0px 4px 2px rgb(216, 216, 216);
  cursor: pointer;
  padding: 5px 11px;
  border-radius: 100%;
  font-size: 25px;
  padding-bottom: 2px;
}

.join-popup .line-combo {
  text-align: center;
  margin: 15px 0;
  color: #8d8c8c;
  font-size: 14px;
  margin-top: 20px;
}

.join-popup .line-combo > span {
  font-weight: 800;
  margin-bottom: 15px;
}

.join-popup .line-left {
  width: 220px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  top: 12px;
  right: 20px;
}

.join-popup .line-right {
  width: 225px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  left: 250px;
  bottom: 8px;
}

.join-popup .line-left2 {
  width: 500px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  top: 12px;
}

.login-last {
  margin-top: 30px;
  font-size: 16px;
}

.login-last a {
  color: #008489;
  text-decoration: none;
}
